# Filter, Drop Nulls, Dedupe
Use `data_08_v2.csv` and `data_18_v2.csv`. You should've created these data files in the previous section: *Renaming Columns*.

In [18]:
import pandas as pd
# import pandas and load datasets

df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')

In [19]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [20]:
# view dimensions of dataset
df_18.shape

(1611, 14)

## Filter by Certification Region

In [21]:
# Use .query() to filter datasets for rows following California standards
# You can user the cert_region column to filter
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [22]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [23]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [24]:
# drop certification region columns form both df_08 and df_18 datasets
# you no longer this column since all data should now 
# be filtered by California
# Assign the result back to the DataFrame without using inplace
df_08 = df_08.drop(columns='cert_region')
df_18 = df_18.drop(columns='cert_region')

In [25]:
df_08.shape

(1084, 13)

In [26]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values
As a reminder, you can use the `.isnull()` method to view how many null values are in each column.  
To count every null from every column, sum the values returned from `.isnull()` by using `.sum()` to return a total count.

In [31]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [29]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [36]:
# drop rows with any null values in both datasets

df_08.dropna(inplace=True)

df_18.dropna(inplace=True)

In [37]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [38]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data
Check if there are duplicate values in your DataFrames by using the `.duplicated()` function. Read more on the functionality [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html).

In [41]:
# print number of duplicates in 2008 and 2018 datasets
# remember to use .sum() on the retured values from .duplicated() to count all total duplicates.
df_08.duplicated().sum()
df_18.duplicated().sum()

3

In [42]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [43]:
# print number of duplicates again to confirm dedupe - should both be 0

print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

0
0

In [44]:
# save progress for the next section
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)